* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

:root {
    --color_pri: #1C1678;
    --color_secu: #8576FF;
    --color_aux: #7BC9FF;
    --color_aux_2: #A3FFD6;
}

/* .portada {
    height: fit-content;
    width: 100%;
    background-color: var(--color_pri);
} */

.datos {
    color: aqua;
}

.icono {
    width: 40px;
    /* background-color: aquamarine; */
    color: white;
    display: grid;
    place-items: center;

}

.f30 {
    font-weight: 35pt;
    color: black;
}


header {
    height: 5%;
    width: 100%;
    display: flex;
    background-color: rgba(128, 128, 128, 0.562);
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.nombre {
        height: 100%;
        width: 50%;

        &.calavera {
            width: 25%;
            background-color: aquamarine;
        }

        &.marca {
            width: 25%;
            background-color: black;
        }
    }

    &.redes {
        display: flex;
        height: 100%;
        width: 50%;
        background-color: blue;
        flex-direction: row;
        /* gap: 50px; */


    }
}

main {
    height: 90%;
    width: 100%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .s1 {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        & .banner {
            position: relative;
            background-image: url(../img/pared_azul.jpg);
            background-position: center;
            background-size: cover;
            height: 55%;
            width: 100%;

            & h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                top: 15%;
                text-shadow: 5px 3px black;
                left: 10%;
                position: absolute;
                color: white;
            }

            & h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                top: 35%;
                text-shadow: 5px 3px black;
                left: 10%;
                position: absolute;
                color: white;
            }

        }

        .descrip {
            top: 7%;
            position: relative;
            width: 100%;
            height: 45%;
            /* background-color: aquamarine; */
            place-items: center;
        }

        .descrip .contenedor {
            position: relative;
            width: 50%;
            height: 100%;
        }

        .descrip .contenedor h3 {
            display: flex;
            text-shadow: 2px 1px gray;
            position: absolute;

            width: 100%;
            height: 20%;
        }

        .descrip .contenedor h5 {
            top: 40px;
            padding-left: 5%;
            padding-right: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 80%;
            right: 0;

        }

        .descrip .imagen_descrip {
            position: absolute;
            display: flex;
            background-image: url(../img/lapices.jpg);
            background-position: center;
            background-size: cover;
            right: -100%;
            height: 150px;
            width: 100%;
        }
    }
    .s2{
        height: 50%;    
        width: 100%;
        display: flex;
        flex-direction: column;


        .contenedor_ {
            padding: 5px;   
            top: 15%;
            width: 100%;
            height: 80%;
            background-color: red;
            display: flex;
            gap: 20px;
            position: relative;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            & .tarjetita {
                width: 25%;
                height: 100%;
    
                min-width: 50px;
                background-color: white;
    
                padding: 8px;
                box-shadow: 15px 15px 50px -3px black;
    
                & .esncabesado {
                    width: 100%;
                    height: 30%;
                    background-color: #77B0AA;
                    border-radius: 12px 12px 0 0;
                    overflow: hidden;
                    position: relative;
    
                    & .imagen_prod {
                        background-position: center;
                        background-size: cover;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        opacity: 1;
                        border-radius: 14px;
                        z-index: 10;
                        top: 0;
                        left: 0;
                        box-shadow: 0 0 50px 4400px rgba(0, 0, 0, 0.84);
                    }
                }
    
                & .producto {
                    height: 80%;
                    width: 100%;
                    /*  background-color: #77B0AA; */
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    gap: 5px;
                }
            }
        }
    }

    
}

footer {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.562);
}